<div class="calc">
    <div class="line_1">
        <h2 class="history_line">История действий:</h2>
        <ul>
            <li *ngFor="let item of history" class="history_line">{{ item }}</li>
        </ul>
        <p>{{ total }}</p>
    </div>
    <mat-grid-list cols="4" rowHeight="64px" [gutterSize]="'10px'">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
            <div class="field" *ngIf="tile.type === 'field'">{{ total }}</div>
            <button mat-stroked-button *ngIf="tile.type === 'button'" [color]="tile.color"
                (click)="eventClick(tile.click, tile.text)">
                {{ tile.text }}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
